.orangeheader {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(252, 198, 98);
}
.logo {
    position: relative;
    left: 34px;
    top: 18px;
    height: 70px;
}
.menu {
    display: inline;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.poprec {
    left: 480px;
    bottom: 15px;
}
.whatsnew {
    left: 520px;
    bottom: 15px;
}
.categories {
    left: 560px;
    bottom: 15px;
}
.photo1 {
    width: 100%;
    height: 500px;
    background-image: url("../images/hero-image.jpg");
    margin: 0;
}
.start {
    display: inline;
    position: relative;
    background-color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
    left: 400px;
    top: 380px;
}

.everydaycat {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    line-height: 1.5;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: 200px;
    position: relative;
    vertical-align: middle;
    grid-column-gap: 30px;
    padding-top: 30px;
    justify-content: center;
}

.grid11 {
    background-color: blue;
}
.grid12 {
    background-color: green;
}
.grid13 {
    background-color: red;
}
.underphoto1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
}

.block{
    background-color: rgb(214, 214, 214);
    width: 100%;
}
.healthy{
    padding-top: 30px;
}
.healthy, .healthyy {
    padding-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 170px);
    grid-template-rows: 150px;
    position: relative;
    grid-column-gap: 30px;
    padding-top: 30px;
    justify-content: center;
}
.grid21 {
    background-color: blue;
}
.grid22 {
    background-color: green;
}
.grid23 {
    background-color: red;
}
.grid24 {
    background-color: purple;
}
.underphoto2{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    bottom: 14px;
}