.header {
    height: 100px;
    width: 100%;
    background-color: orange;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    position: relative;
}
.logo {
    height: 80px;
    padding-top: 13px;
    padding-left: 30px;
}
.menu {
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.photo1 {
    width: auto;
    height: 500px;
    background-image: url("../images/hero-image.jpg");
    margin: 0;
}
.start {
    display: inline;
    position: relative;
    background-color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
    left: 400px;
    top: 380px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: 200px;
    position: relative;
    vertical-align: middle;
    grid-column-gap: 30px;
    padding-top: 30px;
    justify-content: center;
}

.grid11 {
    background-color: blue;
}
.grid12 {
    background-color: green;
}
.grid13 {
    background-color: red;
}
.underphoto1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
}

.block{
    background-color: rgb(214, 214, 214);
    width: 100%;
}
.healthy{
    padding-top: 30px;
}
.healthy, .healthyy {
    padding-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 170px);
    grid-template-rows: 150px;
    position: relative;
    grid-column-gap: 30px;
    padding-top: 30px;
    justify-content: center;
}
.grid21 {
    background-color: blue;
}
.grid22 {
    background-color: green;
}
.grid23 {
    background-color: red;
}
.grid24 {
    background-color: purple;
}
.underphoto2{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    bottom: 14px;
}
.parastuff {
    position: relative;
    padding-left: 50px;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: orange;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
}
.footmenu {
    padding-top: 45px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.copy {
    padding-top: 40px;
    padding-left: 60px;
}
.menu2 {
    font-size: 10px;
    padding-left: 40px;
    margin-right: -20px;
}
